html{
    scroll-behavior: smooth;
    background-color: rgb(252, 253, 255);
    padding: 5px;
}

body{
    box-sizing: border-box;
}

header img{
    width: 80%;
    max-height: none; 
    border: 8px #d3e4f0 solid; 
    border-radius: 50%;
}
/* nav and skip to main */
nav li{
    display:inline;
    padding-right:20px;
}

nav a:hover, nav a:focus {
    border: 2px solid #7cbde7;
}

nav a{
    color: black;
    font-weight: bold;
    text-decoration: none; 
    font-family: 'IBM Plex Serif';
    font-size: 20px;
    color: #152238;

}

nav{
    display: flex;
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: #d3e4f0;
    justify-content: center;
    border-radius: 12px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.skip a {
    position: absolute; 
    left: -9999px;           
    background: white;
    padding: 6px;
    z-index: 1000;           
    text-decoration: none;
    color: black;
    transition: top 0.5s ease-out, left 0.5s ease-out; 
}

.skip a:focus {
    left: 50%;              
    top: 10px;                
    transform: translateX(-50%); 
}

/* header content */

.profile{
    display:grid; 
    gap: 15px;
    grid-template-columns: 1fr;
}

img{
    width: 100%;
    max-height: 50vh;
}

#profile figure {
    display: grid;
    justify-items: center; 
}

.profile-details {
    border: 5px solid #d3e4f0;
    padding: 10px;
    border-radius: 8px;
    margin: 10px;
}

.bio {
    border: 5px solid #d3e4f0;
    padding: 10px;
    border-radius: 8px;
    margin: 10px;

}


/* main content */
h1{
    text-align: center;
    font-family: 'Akshar';
    font-size: 40px; 
    color: #152238;

}
h2{
    text-align: center;
    font-family: 'Akshar';
    font-size: 25px; 
    color: #152238;

}
h3{
    font-family: 'Akshar';
    font-size: 20px; 
    color: #152238;
}
p{
    font-family: 'IBM Plex Serif';
    font-size: 16px;
    color: #152238;

}
.meet-grid{
    display:grid;
    grid-template-columns: 48% 48%;
    width:90%;
    justify-content: space-around;
    margin:auto
}

body{
    line-height: 1.3;
}


article{
    padding: 2px;
    border: 5px solid #d3e4f0;
    border-radius: 8px;
    margin-top: 5px;
}
.spacer img{
    transition: 1s all;

}
.spacer img:active{
    transform: scale(1.2);
}

.meet-card{
    display:flex;
    flex-direction: column;
    align-content: center; 
    justify-content: space-between;

}

summary{
    width: 90%;
    padding: 5px;
    margin-top: 5px;
    list-style-type: none;
    border: 3px solid #7cbde7;
    border-radius: 25px;
    background-color: #add5f4;
    text-align: center;
    transition: background-color 0.3s ease;
    font-family: 'IBM Plex Serif';
    font-size: 16px;
    color: #152238;
}
summary:active{
    background-color: #d3e4f0;
    font-size: 110%;
}

.material-icons {
  font-size: 10px; /* smaller size */
  color: #152238;
  margin-right: 3px;
  vertical-align: middle;
}

footer{
    background-color: #d3e4f0;
    padding: 10px;
    margin-top: 10px;
    border-radius: 12px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
/* 
@media screen and (min-width: 778px){
    .meet-grid{
      grid-template-columns: 25% 25% 25%; 
    }   
}

@media print{
article{
    border: none
}
} */

@media screen and (prefers-reduced-motion: reduce){
    html{
        scroll-behavior: auto;
    }
    summary{
        transition: none;
    }
    .spacer img:active{
        transform: none
    }

}

/* @media(hover:hover) and (pointer: fine){
    summary:hover{
        background: white;
    }
}

body.nontouch summary:hover{
    background:white;
} */

@media (prefers-color-scheme: dark){
    .profile-details, .bio, article, header img{
        border-color: #334155;
    }
    html{
        background-color: #0F172A;
    }
    nav, footer{
        background-color: #1E293B;
    }
    h1, h2, h3{
        color: #F1F5F9;
    }
    p, nav a, .material-icons{
        color: #CBD5E1
    }
    Summary{ 
       background-color: #234d91;
       color: #e4eaf0;
    }

    summary:hover{
        background-color: #255acd} 
}