html{
    scroll-behavior: smooth;
}

body{
    box-sizing: border-box;
}

header img{
    width: 50%;
    max-height: none; 
    border: 5px #d3e4f0 solid; 
    border-radius: 50%;
}
/* nav and skip to main */
nav li{
    display:inline;
    padding-right:20px;
  
}

nav a:hover, nav a:focus {
    border: 2px solid #7cbde7;
}

nav a{
    color: black;
    font-weight: bold;
    text-decoration: none; 
}

nav{
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: #d3e4f0;
    justify-items: center;
}

.skip a {
    position: absolute; 
    left: -9999px;           
    background: white;
    padding: 6px;
    z-index: 1000;           
    text-decoration: none;
    color: black;
    transition: top 0.5s ease-out, left 0.5s ease-out; 
}

.skip a:focus {
    left: 50%;              
    top: 10px;                
    transform: translateX(-50%); 
}

/* header content */

.profile{
    display:grid; 
    gap: 15px;
    grid-template-columns: 1fr;
}

img{
    width: 100%;
    max-height: 50vh;
}

#profile figure {
    display: grid;
    justify-items: center; 
}

.profile-details {
    border: 5px solid #d3e4f0;
    padding: 10px;
    border-radius: 8px;
    margin: 10px;
}

.bio {
    border: 5px solid #d3e4f0;
    padding: 10px;
    border-radius: 8px;
    margin: 10px;

}


/* main content */
h1, h2{
    text-align: center;
}
.meet-grid{
    display:grid;
    grid-template-columns: 48% 48%;
    width:90%;
    justify-content: space-around;
    margin:auto
}

body{
    line-height: 1.3;
}


article{
    padding: 2px;
    border: 5px solid #d3e4f0;
    border-radius: 8px;
    margin-top: 5px;
}

.meet-card{
    flex-direction: column;
    align-content: center; 
    justify-content: space-between;

}

summary{
    width: 85%;
    padding: 5px;
    margin-top: 5px;
    list-style-type: none;
    border: 3px #7cbde7 solid; 
    border-radius: 25px;
    background-color: #d3e4f0;
    text-align: center;
    transition: background-color 1s ease;
}
summary:hover{
    background-color: white;
    font-size: 110%;
}

    /* footer content */

footer{
    background-color: #d3e4f0;
    padding: 10px;
    margin-top: 10px;
}
/* 
@media screen and (min-width: 778px){
    .meet-grid{
      grid-template-columns: 25% 25% 25%; 
    }   
}

@media print{
article{
    border: none
}
} */

@media screen and (prefers-reduced-motion: reduce){
    html{
        scroll-behavior: auto;
    }
    summary{
        transition: none;
    }
}

@media(hover:hover) and (pointer: fine){
    summary:hover{
        background: yellow;
    }
}

body.nontouch summary:hover{
    background:green;
}